@tailwind base;
@tailwind components;
@tailwind utilities;


.winner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10000;
    
  }
  
  .winner .text {
    background: #111;
    height: 300px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .winner .win {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    gap: 15px;
  }